<footer class="footer">
	<div class="container">
		<a class="footer-link" href="https://code.horrific.dev/james/jfenn.me">Website Source Code</a>
		<a class="footer-link" href="/contact/">Contact Me</a>
		<a class="footer-link" href="/policies/?web">Privacy Policy</a>
	</div>
</footer>
